<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="SimpleBot">

  <!-- Include the file that contains sonar description. -->
  <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />

  <!-- The definition of colors used in this urdf -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <!-- Property values used in this model -->
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <!--
  This is the main link of the robot. usually it is chosen to be the centre
  point of the robot.
  -->
  <link name="base_link">
    <!-- Inertia is used to simulate the physics of the robot in simulator -->
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <!--
      This is the most tricly part. It can be calculated using a mesh and
      programs such as MeshLab. If you get these values totally wrong your robot
      might just explode of fly away in the simulator.
      -->
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <!--
    Collisions are used in simulation as well. They help to determine when the
    robot starts touching some other surface. This requires some heavy maths so
    collision objects should be as simple as possible. Ideally they should only
    be primitive shapes such as box, cylinder and sphere.
    -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 0.075"/>
      </geometry>
    </collision>
    <!--
    This is only used for visualization purposes. This can be a 3D CAD model of
    your robot.
  -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 0.075"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <!--
  Macro defining robot wheel. This macro can be used to initialize multiple
  wheels. Macros can have parameters that make it possible to change the behaviour
  of the actual URDF xml that is going to be generated when this macro is instantiated
  -->
  <xacro:macro name="wheel" params="side side_ind">
    <!--
    Each new robot part should have its own link. These links have the same
    fields as the base_link link.
    -->
    <link name="${side}_wheel">
      <inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <cylinder radius="0.075" length="0.05"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <cylinder radius="0.075" length="0.05"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>
    <!--
    Joints are used to connect links together. There are several type of joints
    that we can have. The most common are revolute and continuous. You can read
    more about them in URDF documentation.
    -->
    <joint name="${side}_wheel_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${side}_wheel"/>
      <xacro:if value="${side_ind}">
        <origin xyz="0.35 0.125 0" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${not side_ind}">
        <origin xyz="0.35 -0.125 0" rpy="0 0 0"/>
      </xacro:if>
      <axis xyz="0 1 0"/>
    </joint>
    <!--
    Transmissions are used by ros_control. They are necessary so that we can
    simulate joints that are then controlled by ros_control controllers
    -->
    <transmission name="${side}_wheel_tran">
      <!--
      Type of transmission. These can be more sophisticated. Have a look at
      documentation to get more info on this.
      -->
      <type>transmission_interface/SimpleTransmission</type>
      <!--
      This should be the same as the joint that you defined above. Again joints
      can be controlled in several ways. For example, we can have velocity,
      position or effort controlled joints. This depends on the motor controller
      that is used in the robot.
      -->
      <joint name="${side}_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <!--
      Actuator is the same as the actual motor that rotates the joint. The gear
      ration can be specified in mechanicalReduction parameter.
      -->
      <actuator name="${side}_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  <!--
  Here you actually declare the wheels. This is the initialization of the macro
  that we declared above. We also give different parameters for each wheel
  -->
  <xacro:wheel side="left" side_ind="1"/>
  <xacro:wheel side="right" side_ind="0"/>

  <!-- ros_control plugin for simulated robot -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
  </gazebo>

  <!--Caster wheel of the robot  -->
  <link name="caster_link">
    <visual>
      <origin rpy="1.0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_link"/>
    <origin rpy="0 0 0" xyz="-0.35 0 0"/>
  </joint>
  <gazebo reference="caster_link">
    <turnGravityOff>false</turnGravityOff>
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
  </gazebo>

  <!-- Sonar sensor facing forward -->
  <xacro:sonar_sensor
    name="front_sonar"
    parent="base_link"
    ros_topic="front_sonar"
    update_rate="10"
    min_range="0.01"
    max_range="5.00"
    field_of_view="${5*pi/180}"
    ray_count="3">
    <origin xyz="0.35 0 0.15" rpy="0 0 0"/>
  </xacro:sonar_sensor>

  <!-- Sonar sensor facing to the left -->
  <xacro:sonar_sensor
    name="left_sonar"
    parent="base_link"
    ros_topic="left_sonar"
    update_rate="10"
    min_range="0.01"
    max_range="5.00"
    field_of_view="${5*pi/180}"
    ray_count="3">
    <origin xyz="0.35 0 0.15" rpy="0 0 ${M_PI/2}"/>
  </xacro:sonar_sensor>

  <!-- Sonar sensor facing to the right -->
  <xacro:sonar_sensor
    name="righ_sonar"
    parent="base_link"
    ros_topic="right_sonar"
    update_rate="10"
    min_range="0.01"
    max_range="5.00"
    field_of_view="${5*pi/180}"
    ray_count="3">
    <origin xyz="0.35 0 0.15" rpy="0 0 -${M_PI/2}"/>
  </xacro:sonar_sensor>

  <!-- Macro defining hokuyo lidar units -->
  <xacro:macro name="hokuyo_lidar" params="side x y z yaw">
    <!-- Lidar link -->
    <link name="${side}_laser_link">
      <collision>
        <origin xyz="0 0 -0.0225" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.07"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 -0.0225" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.07"/>
        </geometry>
        <material name="white"/>
      </visual>
    </link>
    <!-- Joint connecting lidar to base_link -->
    <joint name="${side}_laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${side}_laser_link"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw}"/>
    </joint>
    <!-- Gazebo tag describing how the lidar is simulated in Gazebo -->
    <gazebo reference="${side}_laser_link">
      <sensor name="${side}_laser" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <!-- The URG-04LX-UG01  has  683 steps with 0.35139 Degree resolution -->
              <resolution>1</resolution>
              <max_angle>2.0944</max_angle>
              <!-- 120 Degree -->
              <min_angle>-2.0944</min_angle>
              <!-- -120 Degree -->
              <samples>683</samples>
            </horizontal>
          </scan>
          <range>
            <min>0.2</min>
            <max>20</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="${side}_laser" filename="libgazebo_ros_laser.so">
          <topicName>${side}_laser/${side}_scan</topicName>
          <frameName>${side}_laser_link</frameName>
        </plugin>

        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <!-- You can change this property to true to visualize lidar rays in Gazebo -->
        <visualize>false</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Now we actually create two lidar instances that are added to our robot -->
  <xacro:hokuyo_lidar side="front" x="0.35" y="0" z="0.15" yaw="0"/>
  <xacro:hokuyo_lidar side="back" x="-0.35" y="0" z="0.15" yaw="${M_PI}"/>

  <!-- Here we create necessary links and joints of IMU device -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <!-- Plugin that simulates IMU device in Gazebo -->
    <plugin name="imu_sim" filename="libhector_gazebo_ros_imu.so">
      <serviceName>/imu/calibrate</serviceName>
      <updateRate>200.0</updateRate>
      <bodyName>imu_link</bodyName>
      <frameId>imu_link</frameId>
      <topicName>imu_data</topicName>
      <rpyOffset>0 0 0</rpyOffset>
      <xyzOffset>0 0 0</xyzOffset>
      <gaussianNoise>0.00000001</gaussianNoise>
      <accelDrift>0.00000001 0.00000001 0.00000001</accelDrift>
      <accelDriftFrequency>0.00000001 0.00000001 0.00000001</accelDriftFrequency>
      <accelGaussianNoise>0.00000001 0.00000001 0.00000001</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateDriftFrequency>0.0 0.0 0.0</rateDriftFrequency>
      <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
      <headingDrift>0.0 0.0 0.0</headingDrift>
      <headingDriftFrequency>0.0 0.0 0.0</headingDriftFrequency>
      <headingGaussianNoise>0.0 0.0 0.0</headingGaussianNoise>
    </plugin>
  </gazebo>

</robot>
